/Codigo/MiAMiCore/nbproject/private/
/Codigo/MiAMiFX/nbproject/private/
/Codigo/MiAMiCore/build/
/Codigo/DRedhilos3/nbproject/private/
/Codigo/DRedhilos3/build/
/Codigo/DRedhilosHolaMundo/nbproject/private/
/Codigo/DRedhilosHolaMundo/build/
/Codigo/DRedPelotas/nbproject/private/
/Codigo/DRedPelotas/build/
/Codigo/MiAMiFX/build/
/Codigo/MiAMiFX/dist/